html {
    font-size: 22px;
    text-align: center;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

/* a:visited {
    color: lightblue;
} */

a:hover,
a:active {
    color: brown;
}

button a {
    color: black;
}

img{
    width: 430px;
    height: 430px;
    border-radius: 2%;
}

nav ul{
    display: flex;
    justify-content: center;
    
}

nav ul li{
        margin-left: 30px;
        list-style: none;
    }
